html, body {
  background-color: white;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

main {
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0,0,0, .15);
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-sizing: border-box;
  height: 100%;
}

.bg-white {
  width: 280px;
}

.btn-secondary {
  color: #B42044;
  background-color: #EFEFEF;
  margin-bottom: 55px;
  width: 240px;
}

.btn-secondary:hover {
  background-color: #4DA1B3 !important;
  border-color: #4DA1B3 !important;
}

.btn-secondary.active {
  background-color: #4DA1B3 !important;
}
